<div class="product-container">
    <div class="product-image">
        <div class="product">Pink Flower</div>
        <img src="../assets/images/pink flower.jpg">        
    </div>    
    <div class="product-image">
        <div class="product">Violet Flower</div>
        <img class="flower-image" src="../assets/images/violet.jpg">
        <a href="login">click me</a>
    </div>
    <div class="product-image">
        <div class="product">White Flower</div>
        <img src="../assets/images/white flower.jpg">
    </div>
</div>
